@model TimeTracker.Models.TaskViewModel
@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Edit";
}


<h2>Edit</h2>

@using (Html.BeginForm())
{
    
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TaskViewModel</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">

            @(Html.Kendo().DatePicker()
                .Name("StartDate") //The name of the datepicker is mandatory. It specifies the "id" attribute of the widget.
                .Min(new DateTime(1900, 1, 1)) //Set min date of the datepicker
                .Max(new DateTime(2099, 12, 31)) //Set min date of the datepicker
                .Format("dd/MM/yyyy")
                
                
                //.Value(DateTime.Today) //Set the value of the datepicker
            )
        </div>

        <div class="editor-label">
            <label for="StatusId">Task Status</label>
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.StatusId,
            new SelectList(
                new List<Object> {
                    new { value = 1 , text = "New"  },
                    new { value = 2 , text = "Started" },
                    new { value = 3 , text = "Finished"},
                    new {value = 4, text = "Canceled"}
                },
                "value",
                "text"
                ))
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/kendo")
}
