@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @if (Roles.IsUserInRole(User.Identity.Name, "Admin"))
        {
            @Html.ActionLink("Register new user", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            @Html.ActionLink("View all users", "Active", "Users")
            @Html.ActionLink("Create task", "Create", "Task")
            @Html.ActionLink("View all tasks", "Active", "Task")
            @Html.ActionLink("Current tasks", "Current", "Task")
        }
        @if (Roles.IsUserInRole(User.Identity.Name, "RegularUser"))
        {
            // some logic for regular users
            @Html.ActionLink("Current tasks", "Current", "Task")
        }
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul>
        <!--<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>-->
        
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
